* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {


    background-image: url(../IMG/bg2.jpg);
    background-position: center;
    background-size: cover;
}

.wrap {
    color: white;
    font-family: arial;
    overflow: hidden;
}

.textp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    width: 30vw;
    font-size: 20px;
    text-align: justify;
}

.arrows {
    font-size: 40px;
    cursor: pointer;
    color: white;
    /* text-shadow: 1px 0px white; */



}

.arrowright {
    position: absolute;
    top: 50%;
    right: 2%;
}

.arrowright span {
    padding-right: 10px;
}

.arrowright i {
    color: transparent;
    text-shadow: 15px 0 0 transparent;
}

.arrowright:hover i {
    animation: arrowright 1.5s linear infinite;
}

@keyframes arrowright {
    0% {
        color: transparent;
        text-shadow: 15px 0 0 transparent;
    }

    25% {
        color: white;
        text-shadow: 15px 0 0 transparent;
    }

    50% {
        color: white;
        text-shadow: 15px 0 0 white;
    }

    75% {
        color: transparent;
        text-shadow: 15px 0 0 white;
    }

    100% {
        color: transparent;
        text-shadow: 15px 0 0 transparent;
    }

}

.arrowtop {
    position: absolute;
    top: 2%;
    right: 50%;
    transform: translateX(50%);
    text-align: center;

}

.arrowtop i {
    color: transparent;
    text-shadow: 0 -15px 0 transparent;
}

.arrowtop:hover i {
    animation: arrowtop 1.5s linear infinite;
}

@keyframes arrowtop {
    0% {
        color: transparent;
        text-shadow: 0 -15px 0 transparent;
    }

    25% {
        color: white;
        text-shadow: 0 -15px 0 transparent;
    }

    50% {
        color: white;
        text-shadow: 0 -15px 0 white;
    }

    75% {
        color: transparent;
        text-shadow: 0 -15px 0 white;
    }

    100% {
        color: transparent;
        text-shadow: 0 -15px 0 transparent;
    }

}

.arrowleft {
    position: absolute;
    top: 50%;
    left: 2%;
}

.arrowleft i {
    color: transparent;
    text-shadow: 15px 0 0 transparent;
}

.arrowleft:hover i {
    animation: arrowleft 1.5s linear infinite;
}

@keyframes arrowleft {
    0% {
        color: transparent;
        text-shadow: -15px 0 0 transparent;
    }

    25% {
        color: white;
        text-shadow: -15px 0 0 transparent;
    }

    50% {
        color: white;
        text-shadow: -15px 0 0 white;
    }

    75% {
        color: transparent;
        text-shadow: -15px 0 0 white;
    }

    100% {
        color: transparent;
        text-shadow: -15px 0 0 transparent;
    }

}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    text-align: center;
    padding: 10px 0;
}
